:root{
    --primary-white: #fff;
    --primary-green: rgb(45, 209, 45);
  }

body{
    background-color: #282c34;
  
  }

  p{
    background-color:var(--primary-green);
    border-radius:4px;
    font-size:16px;
    padding:15px;
    margin:5px;
    width: 25%;
  }

  table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid black;
  }
  
  th, td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  thead th {
    background-color: rgb(45, 209, 45);
    color: #333;
  }
  
  tbody tr:hover {
    background-color: rgb(45, 209, 45);
  }